.intro-screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  margin: 0;
  margin-top: 1rem;
}

.intro-container {

  box-sizing: "border-box";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  color:rgb(242, 220, 190);
  margin-bottom: 2rem;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .intro-screen-container {
    margin-top: 1rem;
  }
}
