.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: top; */
    /* align-items: center; */
    color: #ececec;
    margin-bottom: 1rem;
    /* padding: 1rem; */
    box-sizing: border-box;
    font-size: 1.2rem;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    margin: 0;
    margin-top: 4rem;
    padding: 2rem;
    padding-bottom: 1rem;
    background-color: rgb(222, 211, 200, 0.2);
    border: 1px solid white;
    /* padding: 5rem; */
    border-radius: 0.3rem;

  }
  
  .login-form-container {
    background-color: none;
    width: 85%;
   
  }
  
  .upload-text {
    width: 350px;
    margin: 0 auto;
    text-align: center;
    /* background-color: rgb(201, 143, 226); */
    color: rgb(218, 216, 216);
    /* color: black; */
    box-sizing: border-box;
    /* border: 1px solid white; */
    border-radius: 0.3rem;
   
  }
  
  .message {
    padding: 1rem;
    width: 350px;
    margin: 0;
  
    box-sizing: border-box;
  }
  
  .cancel-button {
    text-decoration: none;
    color: #ececec;
    background-color: #850c0c6b;
    padding: 2rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    display: inline-block;
    border-radius: 0.3rem;
    border: 1px solid #ececec;
    box-sizing: border-box;
    /* width: 300px; */
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 0.8rem;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    outline: none;
    /* transition: all 0.1s ease 0s; */
    background-color: rgb(211, 94, 94);
    margin-bottom: 0.2rem;
  }
  
  /* .cancel-button {
    background-color: rgb(211, 94, 94);
    margin-bottom: 1.2rem;
  } */
  
  .cancel-button:hover {
    background-color: rgb(210, 41, 41);
    /* border: 3px solid rgb(225, 149, 143); */
    box-shadow: 0px 15px 20px rgba(179, 6, 3, 0.4);
  }
  
  /* 
  .back-button:hover {
    color: rgb(32, 24, 72);
    background-color: #ececec;
  } */
  
  .white {
    color: white;
  }
  
  @media screen and (max-width: 600px) {
    .upload-text {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    .back-button {
      margin-top: 0.5rem;
    }
  }
  